<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<!--<p th:text="'Hello, ' + ${#authentication.getAccessToken()} + '!'"/>-->
<p th:text="'Hello, ' + ${#authentication.toString()} + '!'"/>
<p th:text="'Hello, ' + ${id} + '!'"/>
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
Logged user: <span sec:authentication="name">Bob</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
<table class="table table-bordered table-striped" style="width:100%">
    <tr>
        <td>
            <canvas id="myCanvas" width="1000" height="800"></canvas>
        </td>
        <td valign="top">
            <!--<button type="submit" name="/greeting/bla/1" value="~{/greeting/bla/1}">Remove row</button>-->
            <div>
                <div>
                    <select id="lineType" name="lineType">
                        <option th:each="line : ${lineTypes}"
                                th:value="${line.lineName}"
                                th:utext="${line.lineName}"/>
                    </select>
                </div>
                <a th:href="@{/map/bla/1}">view</a>
                <button id="myButton" onClick="click()">bla</button>

                <div>
                    <form id="form1" action="#" th:action="@{/map/add/{id}(id=${id})}" th:object="${data}"
                          method="post">
                        <input
                                type="hidden"
                                name="data"
                                id="dataId"
                                value="[]"/>
                        <input
                                type="text"
                                name="dataName"
                                id="dataNameId"
                                value="New Region"/>
                        <input type="submit" value="Сохранить"/>
                    </form>
                </div>


                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>name</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${map.regions.isEmpty()}">
                        <td colspan="4">No regions</td>
                    </tr>
                    <tr th:each="region : ${map.regions}">
                        <td th:text="${region.name}">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>

<script th:inline="javascript">
    /*<![CDATA[*/

    function area(region) {
        var area = 0,
            i,
            j,
            point1,
            point2;

        for (i = 0, j = region.points.length - 1; i < region.points.length; j = i, i += 1) {
            point1 = region.points[i];
            point2 = region.points[j];
            area += point1.x * point2.y;
            area -= point1.y * point2.x;
        }
        area /= 2;

        return area;
    };

    function point(context, x, y) {
        var radius = 5;
        context.beginPath();
        context.arc(x, y, radius, 0, 2 * Math.PI, false);
        context.fillStyle = 'green';
        context.fill();
        context.lineWidth = 1;
        context.strokeStyle = '#003300';
        context.stroke();
    }

    function getCenter(region) {
        var x = 0,
            y = 0,
            i,
            j,
            f,
            point1,
            point2;

        for (i = 0, j = region.points.length - 1; i < region.points.length; j = i, i += 1) {
            point1 = region.points[i];
            point2 = region.points[j];
            f = point1.x * point2.y - point2.x * point1.y;
            x += (point1.x + point2.x) * f;
            y += (point1.y + point2.y) * f;
        }

        f = area(region) * 6;
        return [x / f, y / f];
    }

    function send() {
        oReq.open("GET", "/map/bla/" + points, true);
        oReq.setRequestHeader('x-requested-with', 'XMLHttpRequest');
        oReq.send();
    }


    function refresh(canvas, message, imageObj, points) {
        var map = /*[[${map}]]*/ 'bla';
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, 1000, 1000);
        context.drawImage(imageObj, 0, 100);
        context.font = '18pt Calibri';
        context.fillStyle = 'black';
        context.fillText(message, 10, 25);
        for (var i = 0; i < map.regions.length; i++) {
            if (map.regions[i].points.length > 0) {
                context.beginPath();
                context.moveTo(map.regions[i].points[0].x, map.regions[i].points[0].y);
                for (var j = 1; j < map.regions[i].points.length; j++) {
                    context.lineTo(map.regions[i].points[j].x, map.regions[i].points[j].y);
                }
                context.closePath();
                context.stroke();
                var center = getCenter(map.regions[i]);
                context.fillText(map.regions[i].name, center[0] - 15, center[1] - 15);
            }
        }
        if (points.length > 0) {
            context.moveTo(points[0].x, points[0].y);
            for (var i = 1; i < points.length; i++) {
                context.lineTo(points[i].x, points[i].y);

            }
            context.stroke();
            point(context, points[0].x, points[0].y)
            for (var i = 1; i < points.length; i++) {
                point(context, points[i].x, points[i].y)
            }
        }
        var dataEl = document.getElementById('dataId');
        dataEl.value = JSON.stringify(points)

    }

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }

    // var img = document.getElementById('conquestMap');
    var canvas = document.getElementById('myCanvas');
    var line = document.getElementById('lineType');
    var context = canvas.getContext('2d');

    var button = document.getElementById('myButton');

    var imageObj = new Image();

    imageObj.onload = function () {
        context.drawImage(imageObj, 0, 100);
    };
    imageObj.src = '/map/img/42';
    var points = [];

    window.onload = function () {
        refresh(canvas, '', imageObj, points)
    }

    function click() {
        var oReq = new XMLHttpRequest();
        var id = /*[[${id}]]*/ '0'
        oReq.open("POST", "/map/add/" + id, true);
        //oReq.setRequestHeader('Authorization', 'Bearer ' + oauthToken);
        // oReq.setRequestHeader('x-requested-with', 'XMLHttpRequest');
        var points2 = points
        points = []
        oReq.send(JSON.stringify(points2));
        location.reload();
    }

    // button.addEventListener('click', function (evt) {
    //     var oReq = new XMLHttpRequest();
    //     var id = /*[[${id}]]*/ '0'
    //     oReq.open("POST", "/map/add/" + id, true);
    //     //oReq.setRequestHeader('Authorization', 'Bearer ' + oauthToken);
    //     // oReq.setRequestHeader('x-requested-with', 'XMLHttpRequest');
    //     var points2 = points
    //     points = []
    //     oReq.send(JSON.stringify(points2));
    //     location.reload();
    // }, true);

    canvas.addEventListener('click', function (evt) {
        var mousePos = getMousePos(canvas, evt);
        var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y + ' line ' + line.value;
        var oReq = new XMLHttpRequest();
        oReq.open("GET", "/map/bla/" + mousePos.x, true);
        oReq.setRequestHeader('x-requested-with', 'XMLHttpRequest');
        points.push({x: mousePos.x, y: mousePos.y})
        refresh(canvas, message, imageObj, points);
    }, false);

    /*]]>*/
</script>

</body>
</html>